<%
var options = {
  prev_text: '<i class="fa fa-chevron-left"></i>',
  next_text: '<i class="fa fa-chevron-right"></i>',
  mid_size: 1,
  escape: false
};
%>
<nav id="pagination">
  <% if (!is_post()) { %>
    <div class="pagination">
      <%- paginator(options) %>
    </div>
  <% } else { %>
    <% if (page.prev) { %>
      <div class="prev-post pull-left">
        <a href="<%- url_for(page.prev.path) %>">
          <i class="fa fa-chevron-left"></i>
          <span><%= page.prev.title %></span>
        </a>
      </div>
    <% } %>
    <% if (page.next) { %>
      <div class="next-post pull-right">
        <a href="<%- url_for(page.next.path) %>">
          <span><%= page.next.title %></span>
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    <% } %>
  <% } %>
</nav>
