<% var cover_img = theme.home.cover_img || ''; %>
<% var cover_style = cover_img ? 'background-image: url(' + url_for(cover_img) + ')' : ''; %>
<% var isMomentsProfile = is_home() || (typeof page !== 'undefined' && page.type === 'about') || is_archive(); %>
<% if (isMomentsProfile) { %>
  <%- partial('includes/home/home-profile') %>
<% } else if (is_post()) { %>
  <div class="moments-profile post-cover" id="nav">
    <div class="moments-cover" style="<%= cover_style %>">
      <div class="moments-cover-content">
        <%- partial('includes/shell/header-bar', { coverHeader: true, postTitle: page.title }) %>
      </div>
    </div>
  </div>
<% } else { %>
  <nav id="nav" style="<%= cover_style ? 'background-image: url(' + url_for(cover_img) + ')' : '' %>">
    <%- partial('includes/shell/header-bar') %>
    <div id="site-info">
      <div id="site-title"><%= config.title %></div>
    </div>
    <% if (theme.social) { %>
      <div id="site-social-icons">
        <% Object.keys(theme.social).forEach(function (icon) { %>
          <% var url = theme.social[icon]; %>
          <a class="social-icon" href="<%= url %>" target="_blank" rel="noreferrer noopener nofollow">
            <i class="fa fa-<%= icon %>"></i>
          </a>
        <% }); %>
      </div>
    <% } %>
  </nav>
<% } %>
